# ─── PostgreSQL ───────────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=pmaster
POSTGRES_PASSWORD=
POSTGRES_DB=pendidikanmaster

# ─── Redis ────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6380

# ─── MinIO ────────────────────────────────────────────
MINIO_ROOT_USER=pmmaster
MINIO_ROOT_PASSWORD=
MINIO_PORT_API=9000
MINIO_PORT_CONSOLE=9001

# ─── App ──────────────────────────────────────────────
NODE_ENV=development
JWT_SECRET=
JWT_REFRESH_SECRET=
